<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONTACT</title>
  </head>
  <body>
    <h1>Contact details</h1>
    name: <%=name%><br />
    email:<%=email%>
  </body>
</html>
