<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hostel List</title>
  </head>
  <body>
    <h1>Hostel: <%=hostel.name%></h1>
    <ul>
      <% for(const key in hostel){ %>
      <li><b><%= key%>: </b><%=hostel[key]%></li>
      <% }%>
    </ul>
  </body>
</html>
