<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HALO</title>
  </head>
  <body>
    <h1>EJS example</h1>
    <p>HALLO<%= name %></p>
    <a href="/contact">contact us</a>
  </body>
</html>
